<div class="desk-wrap">
    <div *ngIf="customer.length !== 0">
    <p *ngIf="customer.Customer.DisplayName != undefined"><b>Customer Name:</b> {{customer.Customer.DisplayName}}</p>
        <p *ngIf="customer.Customer.Mobile != undefined"><b>Mobile No:</b> {{customer.Customer.Mobile.FreeFormNumber}}</p>
        <p *ngIf="customer.Customer.PrimaryEmailAddr != undefined"><b>Email:</b> {{customer.Customer.PrimaryEmailAddr.Address}}</p>
        <p *ngIf="customer.Customer.Balance != undefined"><b>Balance:</b> {{customer.Customer.Balance}}</p>
    </div>
    <button type="button" class="p-mr-2 button" [routerLink]="['/customer']" >Back</button>
    
    <h3>Invoice Details</h3>
     <p-table  [value]="products" [paginator]="true" [rows]="4"> 
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th> 
                <th>Type</th>
                <th>Number</th>
                <th>Due Date</th>
                <th>Balance</th>
                <th>Total Before</th>
                <th>Tax</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.TxnDate}}</td>
                <td>Invoice</td>
                <td>{{product.DocNumber}}</td>
                <td>{{product.DueDate}}</td>
                <td>{{product.Balance}}</td> 
                <td>{{product.TxnTaxDetail.TaxLine[0].TaxLineDetail.NetAmountTaxable}}</td>
                <td>{{product.TxnTaxDetail.TotalTax}}</td>

            </tr>
        </ng-template>
    </p-table>
    </div>
    
     