<div class="desk-wrap">
    <!-- <p-button type="button" class="p-mr-2" (click)="visibleSidebar()" icon="pi pi-arrow-right"></p-button>
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <h3>Left Sidebar</h3>
    </p-sidebar> -->

<h3>Account Details</h3>
<p-table [value]="products">
    <ng-template pTemplate="header">
        <tr>
            <th>Company Name</th>
            <th>Legal Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Email</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.CompanyName}}</td>
            <td>{{product.LegalName}}</td>
            <td>{{product.CompanyAddr.Line1}}{{product.CompanyAddr.City}}{{product.CompanyAddr.Country}}</td>
            <td>{{product.PrimaryPhone.FreeFormNumber}}</td>
            <td>{{product.Email.Address}}</td>
        </tr>
    </ng-template>
</p-table>

  
</div>
