<div class="desk-wrap">
  <div class="row h100">
    <!-- icons list -->
    <div class="icons-wrap col-12 col-lg-4 col-xl-5 col-md-6 h100">
      <ul>
        <li>
          <!-- <div class="desk-icon cursor" data-toggle="modal" data-target="#stakeModal">
                        <img src="assets/images/stakegroup.png" alt="" title="Coming soon " />
                    </div> -->
          <div class="desk-icon cursor">
            <img src="assets/images/stakegroup.png" alt="" title="Coming soon " />
          </div>
          <h5>Staking & Farming</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/Vaults.png" alt="" title="Coming soon " />
          </div>
          <h5>Vaults</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/photos.svg" alt="" title="Coming soon " />
          </div>
          <h5>Photos</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/calc.svg" alt="" title="Coming soon " />
          </div>
          <h5>Calculator</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/game.png" alt="" title="Coming soon " />
          </div>
          <h5>Games</h5>
        </li>
      </ul>
      <ul>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/AMM.png" alt="" title="Coming soon " />
          </div>
          <h5>AMM Swaps</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/sendit.png" alt="" title="Coming soon " />
          </div>
          <h5>Send It</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/letter.png" alt="" title="Coming soon " />
          </div>
          <h5>Transactions</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/loan.png" alt="" title="Coming soon " />
          </div>
          <h5>Loans</h5>
        </li>
        <li>
          <div class="desk-icon licon cursor">
            <img src="assets/images/Liquidity.svg" alt="" title="Liquidity" (click)="redirectToParticipate()" />
          </div>
          <h5 class="ltitle">Private Sale</h5>
        </li>
      </ul>
      <ul>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/insaurance.png" alt="" title="Coming soon " />
          </div>
          <h5>Insurance</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/stock.svg" alt="" title="Coming soon " />
          </div>
          <h5>Crypto</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/mail-icon.svg" alt="" title="Coming soon " />
          </div>
          <h5>Contact Us</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/defi.png" alt="" title="Coming soon " />
          </div>
          <h5>DeFi Futures</h5>
        </li>
      </ul>
      <ul>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/news.svg" alt="" title="Coming soon " />
          </div>
          <h5>News</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/messages.svg" alt="" title="Coming soon " />
          </div>
          <h5>Messaging</h5>
        </li>
        <li>
          <div class="desk-icon cursor" data-toggle="modal" data-target="#wlletModal">
            <img src="assets/images/wallet.svg" alt="" title="Wallet" />
          </div>
          <h5>Wallet</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/help.png" alt="" title="Wallet" />
          </div>
          <h5>Help</h5>
        </li>
      </ul>
      <ul>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/Lp.png" alt="" title="Coming soon " />
          </div>
          <h5>LP Market</h5>
        </li>
        <li>
          <div class="desk-icon cursor">
            <img src="assets/images/my-account.png" alt="" title="Coming soon " />
          </div>
          <h5>My Account</h5>
        </li>
      </ul>
    </div>
    <!-- games group -->
    <!-- <div class="col-12 col-xl-3 col-lg-3 col-md-4">
            <div class="col-lg-10 col-xl-8">
                <div class="games">
                    <ul style="list-style-type:none;">
                        <li>
                            <div>
                                <img src="assets/images/game1.png" class="smallicon" alt="" title="" />
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="assets/images/game2.png" class="smallicon" alt="" title="" />
                            </div>
                        </li>
                        <li>
                            <div >
                                <img src="assets/images/game3.png" class="smallicon" alt="" title="" />
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="assets/images/game4.png" class="smallicon" alt="" title="" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12 float-right" style="text-align: center;">
                        <font style="color: white;">Games</font>
                    </div>
                    <div class="col-6">
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="col-12 col-xl-3 col-lg-3 col-md-4">
            <div class="col-lg-10 col-xl-10 icons-wrapper">
                <ul>
                    <li>
                        <div class="desk-icon cursor">
                            <img src="assets/images/game.png" alt="" title="Coming soon " />
                        </div>
                        <h5>Games</h5>
                    </li>
                    <li>
                       <div class="desk-icon cursor" data-toggle="modal" data-target="#wlletModal">
                            <div class="desk-icon cursor" >
                             <img src="assets/images/Liquidity.svg" alt="" title="Liquidity" (click)="redirectToParticipate()" /> 
                          </div>
                        <h5>Liquidity</h5>
                    </li>
                </ul>  
            </div> 
        </div> -->
    <!-- side tools -->
    <div class="col-12 col-xl-4 col-lg-5 col-md-6 ml-auto h100">
      <div class="shortcut-wrap col-lg-12">
        <div class="row">
          <div class="col-6 pd-r7">
            <div class="cal-block">
              <div class="p-block">
                <div class="temp">
                  <h5>{{today | date:'EEE'}}</h5>
                  <h2>{{today | date:'MMM d'}}</h2>
                </div>
              </div>  

              <div class="temp-details">
                <div class="vl">
                  <p style="inline-size: max-content" class="ml-2 mb-2">
                    <b>Apple Keynote</b>
                    <br />
                    <small>Online
                      <br />
                      10:00-11:30
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 pd-l7">
            <div class="porto-block">
              <div class="proto-head">
                <div class="temp-heading">
                  <h5>Cupertino</h5>
                  <h2>9<sup>°<span>c</span></sup></h2>
                </div>
              </div>
              <div class="temp-details">
                <div>
                  <img src="assets/images/sun.svg" alt="" title="" />
                  <h6>Clear</h6>
                  <!-- <h6>H:30° L:13°</h6> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="perfomance-chart-block mt-2">
          <div class="temp-chart-list">
            <ul>
              <li class="blacklist row">
                <div class="c-list-title col-5">
                  <h3 style="word-break: break-word">^Ethereum (ETH)</h3>
                  <h5>ETH Inc.</h5>
                </div>
                <div class="list-chart col-4">
                  <div id="container"></div>
                </div>
                <div class="chart-live-count col-3">
                  <h5>12,345.67</h5>
                  <h5 class="green-count">+4.50</h5>
                </div>
              </li>
              <li class="blacklist row">
                <div class="c-list-title col-5">
                  <h3>Ripple (XRP)</h3>
                  <h5>XRP Inc.</h5>
                </div>
                <div class="list-chart col-4">
                  <div id="container2"></div>
                </div>
                <div class="chart-live-count col-3">
                  <h5>349.74</h5>
                  <h5 class="green-count">+4.50</h5>
                </div>
              </li>
              <li class="blacklist row">
                <div class="c-list-title col-5">
                  <h3>Litecoin (LTC)</h3>
                  <h5>LTC Inc.</h5>
                </div>
                <div class="list-chart col-4">
                  <div id="container3"></div>
                </div>
                <div class="chart-live-count col-3">
                  <h5>1,428.34</h5>
                  <h5 class="green-count">+4.50</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="notification mt-2 ex3">
          <div class="notify-box mt-2">
            <div class="card-w">
              <div class="media-body text-truncate">
                <p class="mb-1">
                  <img class="align-self-start mx-2 circle thumb32" src="assets/images/diamond.png" />
                  <strong class="">
                    <span class="circle bg-success circle-lg text-left"></span>
                    <span>A Very Big Week</span>
                  </strong>
                  <strong class="float-right"> 4 hours ago </strong>
                </p>
                <b>Accelerating as ETH nears $600 </b>
              </div>
              <div class="row">
                <small class="col-10">This Could Be A Very Big Week For Bitcoin, Ethereum, Ripple’s
                  XRP, Litecoin And Chainlink</small>
                <span class="col-2 text-right">
                  <img class="align-self-start mx-2 circle thumb32" src="assets/images/diamond.png" />
                </span>
              </div>
              <div class="ml-auto">
                <small class="text-muted ml-2">23 more Notification</small>
              </div>
            </div>
          </div>

          <div class="notify-box mt-2 mb-2">
            <div class="card-w">
              <div class="media-body text-truncate">
                <p class="mb-1">
                  <img class="align-self-start mx-2 circle thumb32" src="assets/images/diamond.png" />
                  <strong class="">
                    <span class="circle bg-success circle-lg text-left"></span>
                    <span>CoinDCX set to launch</span>
                  </strong>
                  <strong class="float-right"> 2 days ago </strong>
                </p>
                <b>Accelerating as ETH nears $600 </b>
              </div>
              <div class="row">
                <small class="col-10">CoinDCX set to launch token for users; partners with US based
                  staked</small>
                <span class="col-2 text-right">
                  <img class="align-self-start mx-2 circle thumb32" src="assets/images/diamond.png" />
                </span>
              </div>
              <div class="ml-auto">
                <small class="text-muted ml-2">23 more Notification</small>
              </div>
            </div>
          </div>

          <div class="notify-box mt-2 mb-2">
            <div class="card-w">
              <div class="media-body text-truncate">
                <p class="mb-1">
                  <img class="align-self-start mx-2 circle thumb32" src="assets/images/diamond.png" />
                  <strong class="">
                    <span class="circle bg-success circle-lg text-left"></span>
                    <span>Decentralized Finance</span>
                  </strong>
                  <strong class="float-right"> 15 hours ago </strong>
                </p>
                <b>Accelerating as ETH nears $600 </b>
              </div>
              <div class="row">
                <small class="col-10">Everything You Need To Know About Cryptocurrency's Next Big
                  Thing: Decentralized Finance</small>
                <span class="col-2 text-right">
                  <img class="align-self-start mx-2 circle thumb32" src="assets/images/diamond.png" />
                </span>
              </div>
              <div class="ml-auto">
                <small class="text-muted ml-2">23 more Notification</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bootm toolbar -->
  <div class="row display mobile-icons">
    <div class="ml-4 mt-3 icons-wrap">
      <ul>
        <li>
          <div class="desk-icon cursor">
            <a href="https://twitter.com/yieldbank" target="_blank">
              <img src="assets/images/twitter.svg" alt="" />
            </a>
          </div>
        </li>
        <li>
          <div class="desk-icon cursor">
            <a href="https://yieldbank.medium.com/" target="_blank">
              <img src="assets/images/medium.svg" alt="" />
            </a>
          </div>
        </li>
        <li>
          <div class="desk-icon cursor">
            <a href="https://t.me/YieldBank" target="_blank">
              <img src="assets/images/telegram.svg" alt="" />
            </a>
          </div>
        </li>
        <li>
          <div class="desk-icon cursor">
            <a href="https://discord.com/invite/4DrKFzJ" target="_blank">
              <img src="assets/images/icon4.svg" alt="" title="Coming soon " /></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom-toolbar displaybox">
    <ul>
      <li>
        <div class="desk-icon cursor">
          <a href="https://twitter.com/yieldbank" target="_blank">
            <img src="assets/images/twitter.svg" alt="" />
          </a>
        </div>
      </li>
      <li>
        <div class="desk-icon cursor">
          <a href="https://yieldbank.medium.com/" target="_blank">
            <img src="assets/images/medium.svg" alt="" />
          </a>
        </div>
      </li>
      <li>
        <div class="desk-icon cursor">
          <a href="https://t.me/YieldBank" target="_blank">
            <img src="assets/images/telegram.svg" alt="" />
          </a>
        </div>
      </li>
      <li>
        <div class="desk-icon cursor">
          <a href="https://discord.com/invite/4DrKFzJ" target="_blank">
            <img src="assets/images/icon4.svg" alt="" title="Coming soon " /></a>
        </div>
      </li>
    </ul>
  </div>

  
</div>
