<div class="desk-wrap">
    <!-- <p-table [value]="products" [paginator]="true" [rows]="4">
    <ng-template pTemplate="header">
        <tr>
            <th>Display Name</th>
            <th>GST Registration Type</th>
            <th>Currency Ref</th>
            <th>Bill With Parent</th>
            <th>Balance</th>
            <th style="width:8rem">Get Invoices</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.DisplayName}}</td>
            <td>{{product.GSTRegistrationType}}</td>
            <td>{{product.CurrencyRef.value}}{{product.CurrencyRef.name}}</td>
            <td>{{product.BillWithParent}}</td>
            <td>{{product.Balance}}</td>
            <td>
                <img  width="30"  height="40" style="cursor: pointer;" (click)="getInvoice(product)" title="invoice" src="assets/images/invoice.png">
            </td>
        </tr>
    </ng-template>
</p-table> -->
    <div class="card" *ngIf="products">
        <p-table #dt [value]="products" dataKey="id" [rows]="3" 
            [paginator]="true"
            [globalFilterFields]="['DisplayName','GSTRegistrationType','CurrencyRef.value','BillWithParent','Balance']">
            <ng-template pTemplate="caption">
                <div class="row m-0">
                    <div class="my-1 table-caption-title align-self-center">
                        <h4>Customer Details</h4>
                    </div>
                    <div class="my-1 ml-auto">
                        <div class="d-flex border" style="background-color: white;">
                            <em class="fa-1x mx-2 fas fa-search  align-self-center">
                                <img  width='30' height='30' src='../../../../../assets/images/search.png'></em>
                            <input  class="form-control" type="text"
                            placeholder="Search" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                 >
                        </div>
                    </div>
                </div>
            </ng-template> 
            <ng-template pTemplate="header">
                <tr>
                    <th>Display Name</th>
                    <th>GST Registration Type</th>
                    <th>Currency Ref</th>
                    <th>Bill With Parent</th>
                    <th>Balance</th>
                    <th style="width:8rem">Get Invoices</th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="DisplayName"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="GSTRegistrationType"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="CurrencyRef.value"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="BillWithParent"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="numeric" field="Balance"></p-columnFilter>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>{{customer.DisplayName}}</td>
                    <td>{{customer.GSTRegistrationType}}</td>
                    <td>{{customer.CurrencyRef.value}}{{customer.CurrencyRef.name}}</td>
                    <td>{{customer.BillWithParent}}</td>
                    <td>{{customer.Balance}}</td>
                    <td>
                        <img  width="30"  height="40" style="cursor: pointer;" (click)="getInvoice(customer)" title="invoice" src="assets/images/invoice.png">
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>