@import url("../css/fonts.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0px;
}
a,
a:hover,
a:focus,
a:active,
button,
button:focus,
button:active,
button:hover {
  outline: none !important;
}
.loader-warp {
  height: 100vh;
  background-color: #1e2631;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.loader-block {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.load-logo-block {
  margin-bottom: 30px;
  /* animation: jumping 1s ease-out infinite; */
  animation: jumping 1s linear;
}
@keyframes jumping {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* dropdown start */
.p-dropdown {
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  user-select: none;
  background-color: transparent !important;
  line-height: 30px;
  border: 1px solid #4CAF50!important;
  border-radius: 14px !important;
  min-width: 150px;
}

.p-drop .p-inputtext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #4CAF50!important;
  background: #121212;
  padding: 0.5rem 0.5rem;
  border: 1px solid #383838;
  border-top: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
} 
.p-dropdown-panel .p-dropdown-items {
  padding: 0.5rem 0;
  background: #363737 !important;
  border: 1px solid #bdff66;
  border-top: none !important;
  box-sizing: border-box;
  /* border-radius: 5px 5px 17px 17px ; */
  border-radius: 17px;
}
::ng-deep .p-drop .p-inputtext{
  padding: 0.5rem 0.5rem !important;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #4CAF50!important;
  background: rgba(255, 213, 79, 0.16);
}
.p-dropdown-panel {
  background: rgba(255, 213, 79, 0.16) !important;
  color: #4CAF50!important;
  border-radius: 17px !important;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pi {
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  color: #ffffff!important;
  -moz-osx-font-smoothing: grayscale;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0 none;
   color: #4CAF50!important;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}
/* .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #4CAF50!important;
  background: rgba(255, 255, 255, 0.03);
} */
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: rgba(255, 255, 255, 0.87);
  background: rgba(255, 213, 79, 0.16);
}

/* dropdown end */
.load-bar {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  height: 4px;
  width: 100%;
  position: relative;
}
.load-inn-bar {
  background: #ffffff;
  border-radius: 50px;
  height: 6px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  animation: loader 1s linear;
}

@keyframes loader {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  35% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  85% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

.shortcut-wrap {
  max-width: 433px;
  width: 100%;
  /* margin-left: auto; */
  padding: 20px;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
}
.porto-block {
  background:#ddab3d;
  background: -moz-linear-gradient(-45deg,rgb(221,171,61) 0%rgb(221,171,61) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(221,171,61) 0%,rgb(221,171,61) 100%);
  background: linear-gradient(135deg,rgb(221,171,61) 0%,rgb(221,171,61) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c86b4', endColorstr='#3eaede',GradientType=1 );
  border-radius: 21.67px;
  -webkit-border-radius: 21.67px;
  -moz-border-radius: 21.67px;
  -ms-border-radius: 21.67px;
  padding: 13px;
  height: 100%;
}
.proto-head {
  display: flex;
  justify-content: space-between;
}
.temp-heading h5 {
  font-size: 16px;
  line-height: 19px;
  color:black;
  margin-bottom: 5px;
  font-family: SFProText-Semibold;
}
.temp-heading h2 {
  font-size: 44px;
  line-height: 38px;
  color:black;
  font-family: SFProDisplay-Thin;
}
.temp-heading h2 sup{
  top: -0.3em;
}
.detail-text h4 {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  font-family: SFProText-Medium;
  text-align: right;
}
.sun-icon {
  text-align: right;
  margin-bottom: 10px;
}
.proto-body ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.proto-body ul li {
  list-style: none;
  line-height: 0;
  text-align: center;
}
.proto-body ul li time {
  font-size: 12px;
  line-height: 0px;
  font-family: SFProText-Medium;
  color: #ffffff;
}
.temp-count {
  font-size: 13px;
  line-height: 0px;
  color: #ffffff;
  font-family: SFProText-Medium;
  text-align: center;
}
.list-icon {
  line-height: 0px;
  margin: 11px 0px 13px;
}
.list-icon img,
.sun-icon img {
  animation: 1.8s sun linear infinite;
}
@keyframes sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.perfomance-chart-block {
  padding: 18px;
  background: #121212;
  border-radius: 21.67px;
  -webkit-border-radius: 21.67px;
  -moz-border-radius: 21.67px;
  -ms-border-radius: 21.67px;
  height: fit-content;
}

.temp-chart-list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0px;
  border-bottom: 1px solid #323136;
}
.temp-chart-list ul li:last-child {
  border: 0px;
}
.c-list-title {
  flex: 1;
}
.c-list-title h3 {
  font-size: 15px;
  color: #ffffff;
  line-height: 18px;
  font-family: SFProText-Semibold;
}
.c-list-title h5 {
  font-size: 12px;
  line-height: 14px;
  font-family: SFProText-Medium;
  color: #a4a3a9;
}
.chart-live-count h5 {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  font-family: SFProText-Medium;
  text-align: right;
}
.chart-live-count h5.green-count {
  background: #00b817;
  border-radius: 2px;
  width: 51px;
  height: 16px;
  padding: 0px 5px;
  box-sizing: border-box;
  margin: 3px 0px 0px auto;
}
.list-chart {
  padding: 0px 15px;
  width: 100px;
}
.blank-block {
  background: #ffffff;
  backdrop-filter: blur(25px);
  border-radius: 21px;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.blank-block #container {
  width: 70px;
}
.icons-wrap {
  max-width: 426px;
  width: 100%;
  padding: 11px 15px;
  box-sizing: border-box;
  /* margin-left: 4%; */
}
.icons-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px -15px 0px;
}
.icons-wrap ul li {
  list-style: none;
  width: 100%;
  max-width: 33.33%;
  flex: 33.33%;
  padding: 0px 15px;
  margin-bottom: 20px;
}
.desk-icon {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.empty.desk-icon {
  background: #ffffff;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icons-wrap ul li h5 {
  font-size: 13px;
  color: #ffffff;
  font-family: Roboto-Bold;
  text-align: center;
  margin-top: 5px;
}
.bottom-toolbar {
  height: 83px;
  background: rgba(0, 0, 0, 0.2);
border: 0.5px solid rgba(255, 255, 255, 0.2);
box-sizing: border-box;
backdrop-filter: blur(50px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 24px;
  padding: 0px 15px;
  border-radius: 24px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.bottom-toolbar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 0px;
  align-items: center;
}
.bottom-toolbar ul li {
  list-style: none;
  padding: 0px 7px; 
}
.bottom-toolbar ul li .desk-icon {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wallet page css */
.wallet-card-wrap {
  backdrop-filter: blur(50px);
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}
.wallet-card-wrap ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
/* @media (min-width: 991px){
  overflow: hidden;
} */
.wallet-card {
  list-style: none;
  border-radius: 10px;
  height: 50px;
  /* transition: all 0.5s linear 0s; */
  position: relative;
  display: flex;
  flex-direction: column;
}
.wallet-card.active-card {
  flex: 1;
  /* transition: all 0.5s linear 0s; */
  height: 100%;
}
.w-card-block {
  min-height: 270px;
  padding: 15px;
  border-radius: 10px;
}
.wallet-head {
  display: flex;
  /* align-items: center; */
}
.icon-inn {
  width: 22px;
  height: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-inn img {
  max-width: 20px;
  max-height: 18px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wallet-head h5 {
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  font-family: Roboto-Medium;
  margin-left: 10px;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.yellow-card {
  background: linear-gradient(111.34deg, #f5841f 0%, #e27625 101.07%);
}
.blue-card {
  background: linear-gradient(111.65deg, #a7d2ff 0%, #419bf9 100.78%);
}
.dark-blue-card {
  background: linear-gradient(111.65deg, #84b7ed 0%, #3375bb 100.78%);
}
.gray-card {
  background: linear-gradient(111.65deg, #474747 0%, #1d2028 100.78%);
}
.shield-bg {
  background: url("../images/l-shield-icon.svg") no-repeat center;
  height: 100%;
  width: 100%;
}
.ledger-bg {
  background: url("../images/ledger-bg.svg") no-repeat center;
  height: 100%;
  width: 100%;
}
.connect-bg{
  background: url("../images/connect-bg.svg") no-repeat center;
  height: 100%;
  width: 100%;
}
.metamask-bg{
  background: url("../images/metamask-bg.svg") no-repeat center;
  height: 100%;
  width: 100%;
}
.w-card-body {
  flex: 1;
  position: relative;
  padding: 10px;
}

.spinner-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.spinner {
  height: 50px;
  width: 50px;
  margin: 0px auto 0;
  animation: spin 1s steps(12, end) infinite;
}

.spinner i {
  height: 11px;
  width: 4px;
  margin-left: -3px;
  display: block;
  position: absolute;
  left: 50%;
  transform-origin: center 25px;
  background: #bfbfbf;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.spinner i:nth-child(1) {
  opacity: 0.08;
}
.spinner i:nth-child(2) {
  transform: rotate(30deg);
  opacity: 0.167;
}
.spinner i:nth-child(3) {
  transform: rotate(60deg);
  opacity: 0.25;
}
.spinner i:nth-child(4) {
  transform: rotate(90deg);
  opacity: 0.33;
}
.spinner i:nth-child(5) {
  transform: rotate(120deg);
  opacity: 0.4167;
}
.spinner i:nth-child(6) {
  transform: rotate(150deg);
  opacity: 0.5;
}
.spinner i:nth-child(7) {
  transform: rotate(180deg);
  opacity: 0.583;
}
.spinner i:nth-child(8) {
  transform: rotate(210deg);
  opacity: 0.67;
}
.spinner i:nth-child(9) {
  transform: rotate(240deg);
  opacity: 0.75;
}
.spinner i:nth-child(10) {
  transform: rotate(270deg);
  opacity: 0.833;
}
.spinner i:nth-child(11) {
  transform: rotate(300deg);
  opacity: 0.9167;
}
.spinner i:nth-child(12) {
  transform: rotate(330deg);
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ========================================== End Preloader ========================================== */

.card-loader {
  /* display: none; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f6f6f6;
}
.active-card.active-spin .card-loader {
  display: block;
}
.trans-btn {
  border: 0px;
  background: transparent;
  padding: 0px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #8e8e93;
}
.mr-t30 {
  margin-top: 30px;
}
.blue-btn {
  width: 140px;
  height: 36px;
  font-size: 14px;
  color: #007aff;
  font-family: Roboto-Regular;
  border: 0px;
  background: white;
  padding: 0px;
  border-radius: 50px;
}
#wlletModal .modal-body {
  padding: 0px;
}
#wlletModal .modal-dialog {
  height: 100vh;
}
.modal-content {
  border: 0px;
}

.card-action {
  display: none;
}
.wallet-card.active-card .card-action {
  display: block;
  height: 100%;
}
.modal {
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: transparent !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

body.modal-open .supreme-container{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.walletconnect-modal__base {
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.4);
  font-family: ui-rounded, "SF Pro Rounded", "SF Pro Text", medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, ui-sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 41px;
  padding: 24px 24px 22px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  overflow: visible;
  transform: translateY(-50%);
  top: 49% !important;
  max-width: 500px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .walletconnect-modal__base {
    -webkit-font-smoothing: antialiased;
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.4);
    font-family: ui-rounded, "SF Pro Rounded", "SF Pro Text", medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, ui-sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 41px;
    padding: 24px 24px 22px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    overflow: visible;
    transform: translateY(-50%);
    top: 55%;
    max-width: 500px;
    margin: auto;
}
  .walletconnect-qrcode__image {
    width: calc(100% - 30px);
    box-sizing: border-box;
    cursor: none;
    margin: 0 auto;
  }
}


.walletconnect-qrcode__image {
  width: calc(100% - 30px);
  box-sizing: border-box;
  cursor: none;
  margin: 0 auto;
  height: 290px !important;
}

.cursor{
  cursor: pointer;
}

.p-button {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 6px !important;
}

.p-datatable .p-datatable-header {
  background: #1e1e1e;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid #383838;
  border-width: 0 0 1px 0;
  padding: 2rem 1rem !important;
  font-weight: 600;
  border-radius: 15px 15px 0px 0px;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 2rem !important;
  border: 1px solid #383838;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
  background: #1e1e1e;
  transition: box-shadow 0.2s;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #383838;
  border-width: 0 0 1px 0;
  padding: 1rem 2rem !important;
}

.p-datatable .p-datatable-footer {
  background: #1e1e1e;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #383838;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
  border-radius: 0px 0px 15px 15px;
}

.p-card {
  background: #1e1e1e;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 13px !important;
}

.wrapper {
  width: 103vw;
  height: 100%;
  backdrop-filter: blur(67.957px);
  }

  .farm-card{
    border-radius: 13px;
 }
   .farm-card .p-card{
    background:grey !important;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 13px !important;
  }

  .icons-wrapper {
    max-width: 426px;
    width: 100%;
    padding: 11px 15px;
    box-sizing: border-box;
    margin-left: 4%;
  }
  .icons-wrapper ul {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0px -15px 0px;
    
  }
  .icons-wrapper ul li {
    list-style: none;
    width: 100%;
    max-width: 33.33%;
    flex: 33.33%;
    padding: 4px 15px;
    margin-bottom: 20px;
  }

  .icons-wrapper ul li h5 {
    font-size: 13px;
    color: #ffffff;
    font-family: Roboto-Bold;
    text-align: center;
    margin-top: 5px;
  }

  .show .p-panel .p-panel-footer {
    padding: 0.5rem 1rem;
    border: 1px solid #383838 !important;
    background: #1e1e1e;
    color: rgba(255, 255, 255, 0.87);
    border-top: 0 none;
}

 

/* new---------------------------- */
@import url("fonts.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
body {
  margin: 0px;
  padding: 0px;
}

/* all margin */
.mr0 {
  margin: 0px;
}
.mr10 {
  margin: 10px;
}
.mr20 {
  margin: 20px;
}
.mr30 {
  margin: 30px;
}
.mr40 {
  margin: 40px;
}
.mr50 {
  margin: 50px;
}
.mr60 {
  margin: 60px;
}
.mr70 {
  margin: 70px;
}
.mr80 {
  margin: 80px;
}
.mr90 {
  margin: 90px;
}
.mr100 {
  margin: 100px;
}

/* margin top */
.mr-t0 {
  margin-top: 0px;
}
.mr-t10 {
  margin-top: 10px;
}
.mr-t15 {
  margin-top: 15px;
}
.mr-t20 {
  margin-top: 20px;
}
.mr-t30 {
  margin-top: 30px;
}
.mr-t40 {
  margin-top: 40px;
}
.mr-t50 {
  margin-top: 50px;
}
.mr-t60 {
  margin-top: 60px;
}
.mr-t70 {
  margin-top: 70px;
}
.mr-t80 {
  margin-top: 80px;
}
.mr-t90 {
  margin-top: 90px;
}
.mr-t100 {
  margin-top: 100px;
}

/* margin right */
.mr-r0 {
  margin-right: 0px;
}
.mr-r10 {
  margin-right: 10px;
}
.mr-r20 {
  margin-right: 20px;
}
.mr-r30 {
  margin-right: 30px;
}
.mr-r40 {
  margin-right: 40px;
}
.mr-r50 {
  margin-right: 50px;
}
.mr-r60 {
  margin-right: 60px;
}
.mr-r70 {
  margin-right: 70px;
}
.mr-r80 {
  margin-right: 80px;
}
.mr-r90 {
  margin-right: 90px;
}
.mr-r100 {
  margin-right: 100px;
}

/* margin bottom */
.mr-b0 {
  margin-bottom: 0px;
}
.mr-b10 {
  margin-bottom: 10px;
}
.mr-b20 {
  margin-bottom: 20px;
}
.mr-b30 {
  margin-bottom: 30px;
}
.mr-b40 {
  margin-bottom: 40px;
}
.mr-b50 {
  margin-bottom: 50px;
}
.mr-b60 {
  margin-bottom: 60px;
}
.mr-b70 {
  margin-bottom: 70px;
}
.mr-b80 {
  margin-bottom: 80px;
}
.mr-b90 {
  margin-bottom: 90px;
}
.mr-b100 {
  margin-bottom: 100px;
}

/* margin left */
.mr-l0 {
  margin-left: 0px;
}
.mr-l10 {
  margin-left: 10px;
}
.mr-l20 {
  margin-left: 20px;
}
.mr-l30 {
  margin-left: 30px;
}
.mr-l40 {
  margin-left: 40px;
}
.mr-l50 {
  margin-left: 50px;
}
.mr-l60 {
  margin-left: 60px;
}
.mr-l70 {
  margin-left: 70px;
}
.mr-l80 {
  margin-left: 80px;
}
.mr-l90 {
  margin-left: 90px;
}
.mr-l100 {
  margin-left: 100px;
}

/* padding  */
.pd0 {
  padding: 0px;
}
.pd10 {
  padding: 10px;
}
.pd20 {
  padding: 20px;
}
.pd30 {
  padding: 30px;
}
.pd40 {
  padding: 40px;
}
.pd50 {
  padding: 50px;
}
.pd60 {
  padding: 60px;
}
.pd70 {
  padding: 70px;
}
.pd80 {
  padding: 80px;
}
.pd90 {
  padding: 90px;
}
.pd100 {
  padding: 100px;
}

/* padding top */
.pd-t0 {
  padding-top: 0px;
}
.pd-t10 {
  padding-top: 10px;
}
.pd-t20 {
  padding-top: 20px;
}
.pd-t30 {
  padding-top: 30px;
}
.pd-t40 {
  padding-top: 40px;
}
.pd-t50 {
  padding-top: 50px;
}
.pd-t60 {
  padding-top: 60px;
}
.pd-t70 {
  padding-top: 70px;
}
.pd-t80 {
  padding-top: 80px;
}
.pd-t90 {
  padding-top: 90px;
}
.pd-t100 {
  padding-top: 100px;
}

/* padding right */
.pd-r0 {
  padding-right: 0px;
}
.pd-r10 {
  padding-right: 10px;
}
.pd-r20 {
  padding-right: 20px;
}
.pd-r30 {
  padding-right: 30px;
}
.pd-r40 {
  padding-right: 40px;
}
.pd-r50 {
  padding-right: 50px;
}
.pd-r60 {
  padding-right: 60px;
}
.pd-r70 {
  padding-right: 70px;
}
.pd-r80 {
  padding-right: 80px;
}
.pd-r90 {
  padding-right: 90px;
}
.pd-r100 {
  padding-right: 100px;
}
.pd-r170 {
  padding-right: 170px;
}

/* padding bottom */
.pd-b0 {
  padding-bottom: 0px;
}
.pd-b10 {
  padding-bottom: 10px;
}
.pd-b20 {
  padding-bottom: 20px;
}
.pd-b30 {
  padding-bottom: 30px;
}
.pd-b40 {
  padding-bottom: 40px;
}
.pd-b50 {
  padding-bottom: 50px;
}
.pd-b60 {
  padding-bottom: 60px;
}
.pd-b70 {
  padding-bottom: 70px;
}
.pd-b80 {
  padding-bottom: 80px;
}
.pd-b90 {
  padding-bottom: 90px;
}
.pd-b100 {
  padding-bottom: 100px;
}

/* padding left */
.pd-l0 {
  padding-left: 0px;
}
.pd-l10 {
  padding-left: 10px;
}
.pd-l20 {
  padding-left: 20px;
}
.pd-l30 {
  padding-left: 30px;
}
.pd-l40 {
  padding-left: 40px;
}
.pd-l50 {
  padding-left: 50px;
}
.pd-l60 {
  padding-left: 60px;
}
.pd-l70 {
  padding-left: 70px;
}
.pd-l80 {
  padding-left: 80px;
}
.pd-l90 {
  padding-left: 90px;
}
.pd-l100 {
  padding-left: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0px;
}
a,
a:hover,
a:focus,
a:active,
button,
button:focus,
button:active,
button:hover {
  outline: none;
}
.mr-t20 {
  margin-top: 20px;
}
.main-head-wrap {
  background: #1e2a56;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 15px;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
}
.gold-logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gold-logo-block h1 {
  font-family: SFProText-Semibold;
  font-size: 17px;
  color: #ffffff;
  margin-left: 11px;
}
.head-right-block {
  display: flex;
  align-items: center;
  line-height: 0px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.head-right-block a {
  font-size: 17px;
  color: #e7ca5f;
  font-family: SFProText-Semibold;
  margin: 0px 8px;
  text-decoration: none;
}
.head-right-block a:last-child {
  margin-right: 0px;
}
.router-body {
  min-height: 100vh;
  box-sizing: border-box;
  background: url("../images/body-bg.png") no-repeat center;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 22px 0px;
}
.flip-card-wrap {
  perspective: 1000px;
  height: 460px;
  overflow: hidden;
  padding: 20px 0px;
}
.black-card-block {
  max-width: 1060px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px;
}
.black-box {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.black-box.flip-active {
  transform: rotateY(180deg);
}

.flip-active .card-head {
  display: none;
}
.card-front {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-front h3 {
  font-size: 42px;
  color: #ffffff;
  line-height: 58px;
  font-family: SFProText-Semibold;
}
.card-front p {
  font-size: 21px;
  line-height: 25px;
  color: #ABABAB;
  /* font-family: SFProText-Regular; */
  margin: 0px 0px;
}
.yellow-btn {
  font-size: 17px;
  color: #191a1a;
  font-family: SFProText-Semibold;
  background: #bdff66;
  border: 1px solid #bdff66;
  height: 53px;
  border-radius: 14px;
  max-width: 309px;
  width: 100%;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  background: linear-gradient(98.04deg, rgba(0, 0, 0, 0.33) 2.43%, rgba(11, 11, 11, 0.3) 99.19%);
  border-radius: 13px;
  padding: 30px;
  border: 1px solid #525252;
}
.card-back {
  transform: rotateY(180deg);
  z-index: 99;
}
.back-flip {
  max-width: 150px;
}
.mr-r90 {
  margin-right: 90px;
}
.mr-b30 {
  margin-bottom: 30px;
}
.card-form h4 {
  color: #ffffff;
  font-size: 24px;
  font-family: SFProText-Semibold;
  margin-bottom: 40px;
}
.form-group label {
  color: #e2e2e2;
  font-size: 14px;
  /* font-family: SFProText-Regular; */
  display: inline-flex;
  align-items: center;
}
.card-form label em {
  font-style: normal;
  padding-left: 10px;
}
.cus-r-btn input {
  display: none;
}
.cus-r-btn span {
  width: 20px;
  height: 20px;
  background: #c4c4c4;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.cus-r-btn input:checked ~ span::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bdff66;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cus-r-btn label {
  margin-bottom: 0px;
}
.form-group input {
  background: #000000;
  max-width: 311px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 0px;
  min-height: 53px;
  font-size: 14px;
  color: #ffffff;
  font-family: SFProText-Semibold;
}
.input-error {
  font-size: 11px;
  color: #ff4351;
  font-family: SFProText-Semibold;
  display: block;
  position: absolute;
}

.token-sale .input-error{
  font-size: 11px;
  color: #ff4351;
  font-family: SFProText-Semibold;
  display: block;
  position:relative;
}
.card-form form {
  max-width: 434px;
  width: 100%;
  margin: 5px auto 0px;
}
.card-form form .form-group input {
  max-width: 100%;
}
.card-icon {
  width: 106px;
  height: 106px;
  background: rgba(168, 168, 168, 0.2);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}
.card-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background-color: #cccccc;
  z-index: 0;
}
.card-icon img {
  position: relative;
  z-index: 1;
  width: 85px;
  height: auto;
}
::-webkit-input-placeholder {
  /* Edge */
  color: #ffffff !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff !important;
}

::placeholder {
  color: #ffffff !important;
}
.card-form {
  display: flex;
  flex-direction: column;
}
.mr-t30 {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .card-front {
    padding: 10px;
    justify-content: center;
  }
  .card-icon {
    width: 76px;
    height: 76px;
    margin: 0 auto 10px;
  }
  .card-icon img {
    width: 50px;
  }
  .card-icon::after {
    width: 63px;
    height: 63px;
  }
  .card-front h3 {
    font-size: 20px;
    line-height: 29px;
  }
  .card-front p { 
    font-size: 12px;
    margin: 20px 0px;
  }
  .yellow-btn {
    font-size: 14px;
    height: 40px;
    max-width: 119px;
  }
  .alert-box .yellow-btn,
  .alert-box .gold-btn {
       max-width: 50%;
       margin-top: 0px;
       margin-bottom: 0px;
  }
  .alert-box{
    max-width: 90%;
  }
 
}
@media (max-width: 575px) {
  .alert-body h4{
    text-align: center;
  }
  .alert-box .text-right{
    text-align: center !important;
  }
}

/* ==================================== splash screen start ================================= */
.splash-wrap {
  background-color: #000000;
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
}
.splash-wrap img {
  margin: 10px 0px 20px;
  max-width: 500px;
  width: 100%;
}
.splash-wrap h1 {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  font-family: SFProText-Semibold;
}
.gold-btn {
  border: 1px solid #bdff66;
  box-sizing: border-box;
  background: transparent;
  border-radius: 14px;
  min-width: 150px;
  height: 50px;
  display: inline-block;
  font-size: 17px;
  font-family: SFProText-Semibold;
  color: #bdff66;
  text-align: center;
  padding: 5px 10px;
  line-height: 30px;
  box-sizing: border-box;
}
.gold-btn:hover {
  border: 1px solid #bdff66;
  color: #bdff66;
}
.gold-fill-btn {
  border: 1px solid #bdff66;
  background-color: #bdff66;
  box-sizing: border-box;
  border-radius: 14px;
  min-width: 150px;
  height: 50px;
  display: inline-block;
  font-size: 17px;
  font-family: SFProText-Semibold;
  color: #191a1a;
  text-align: center;
  padding: 5px 10px;
  line-height: 30px;
  box-sizing: border-box;
}
/* ==================================== splash screen end ================================= */

/* ==================================== terms-and-condition screen start ================================= */
.white-border-card {
  max-width: 820px;
  width: 100%;
  margin: 20px auto;
}
.white-card {
  background: linear-gradient(98.04deg, rgba(0, 0, 0, 0.15) 2.43%, rgba(159, 159, 159, 0) 99.19%);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid #737373;
}
.white-card-head {
  padding: 15px 40px;
  border-bottom: 1px solid #737373;
}
.white-card-foot {
  padding: 15px 40px;
  border-top: 1px solid #737373;
  position: relative;
}
.white-card hr {
  border-color: #737373;
}
.white-card-body {
  padding: 15px 40px;
}
.white-card h4 {
  font-size: 17px;
  color: #ffffff;
  font-family: SFProText-Semibold;
  line-height: 19px;
  margin: 0pxl
}
.white-card-body h5 {
  font-size: 16px;
  color: #e7ca5f;
  font-family: SFProText-Semibold;
}
.white-card-body h3 {
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
  font-family: SFProText-Semibold;
}
.white-card-body p {
  font-size: 17px;
  line-height: 19px;
  color: #9e9e9e;
  text-align: justify;
}
select {
  background: url("../images/drop-icon.png") no-repeat 98% 50% !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.foot-btn-note {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.white-card-foot h5 {
  font-size: 14px;
  color: #ffffff;
  font-family: SFProText-Semibold;
}
.error-msg span {
  font-size: 14px;
  line-height: 17px;
  color: #ff4351;
  /* font-family: SFProText-Regular; */
}
.card-padding {
  padding: 15px 40px;
}
.inline-form.form-group {
  max-width: 311px;
  width: 100%;
}
.inline-form.form-group button {
  margin-top: 8px;
}
.input-limit {
  color: #bbbbbb;
  font-size: 14px;
  font-family: SFProText-Semibold;
  display: block;
}
.cus-check {
  position: relative;
  margin-bottom: 0px;
  padding-left: 30px;
  font-size: 12px;
  color: #ffffff;
  /* font-family: SFProText-Regular; */
  font-weight: normal;
  cursor: pointer;
}
.cus-check a {
  font-family: SFProText-Semibold;
  color: #ffffff;
}
.cus-check input {
  display: none;
}
.cus-check span {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  width: 20px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 0px;
}
.cus-check input:checked ~ span {
  border: 1px solid #bdff66;
  background: url("../images/check-icon.png") #4CAF50 no-repeat center;
}
/* ==================================== terms-and-condition screen end ================================= */

/* ==================================== liquidity screen start ================================= */
.liquidity-wrap {
  background: rgba(168, 168, 168, 0.2);
  backdrop-filter: blur(67.957px);
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
.liquidity-link a {
  text-align: center;
  display: inline-block;
}
.liquidity-link a img {
  margin-bottom: 10px;
}
.liquidity-link a h5 {
  color: #ffffff;
  font-size: 13px;
  /* font-family: SFProText-Bold; */
}

/* ==================================== liquidity screen end ================================= */

.i-w-lable {
  position: relative;
}
.i-w-lable em {
  position: absolute;
  font-style: normal;
  top: 50%;
  transform: translateY(-50%);
  right: 23px;
  font-size: 14px;
  color: #ffffff;
  font-family: SFProText-Semibold;
}
.alert-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alert-box {
  max-width: 400px;
  background: #363737;
  border-radius: 7.34644px;
  width: 100%;
  padding: 20px;
  /* min-height: 230px; */
  min-height: 253px
}
.alert-body h4 {
  font-size: 16px;
  color: #afafaf;
  font-family: SFProText-Semibold;
  line-height: 22px;
}
.alert-box {
  display: flex;
  flex-direction: column;
}

.alert-body {
  flex: 1;
}


.color-black {
  color: #000000;
}
.overlay-screen {
  position: relative;
}
.overlay-screen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  left: 0;
  top: 0;
  min-height: 100vh;
}
.liquidity-head {
  background: rgba(168, 168, 168, 0.2);
  backdrop-filter: blur(67.957px);
}
.scroll-block {
  max-height: 130px;
  overflow-y: auto;
  padding-right: 20px;
}
.scroll-large {
  max-height: 200px;
}
.scroll-block::-webkit-scrollbar {
  width: 5px;
}

.scroll-block::-webkit-scrollbar-track {
  background-color: #737373;
  border-radius: 5px;
}

.scroll-block::-webkit-scrollbar-thumb {
  background-color: #43f95a;
  border-radius: 5px;
}
.participate-head {
  display: block;
}
.select-box .gold-btn {
  min-width: 172px;
  background: #1A1D35;
  position: relative;
  z-index: 9999;
}
.inline-note {
  display: flex;
  align-items: center;
}
.select-box .dropdown-menu {
  background: #363737;
  border: 1px solid #bdff66;
  box-sizing: border-box;
  border-radius: 17px 17px;
  padding-top: 20px;
  margin-top: -11px;
}
.select-box .dropdown-item {
  color: #bdff66;
  font-size: 17px;
  line-height: 22px;
  font-family: SFProText-Semibold;

}
/* ======================  Responsive CSS ========================== */
@media (max-width: 991px) {
  .white-border-card {
    padding: 0px 15px;
  }
}
@media (max-width: 767px) {
  .select-box .dropdown-menu{
    width: 100%;
  }
  .splash-wrap h1 {
    font-size: 18px;
    margin: 0;
  }
  .select-box {
    margin: 0px;
  }
  .gold-btn {
    min-width: auto;
    height: 40px;
    font-size: 15px;
    line-height: 25px;
    padding: 5px 24px;
    border-radius: 6px;
    margin: 10px auto;
    display: block;
  }
  .white-card-body,
  .white-card-head,
  .white-card-foot {
    padding: 10px;
  }

  .white-card-body h3 {
    font-size: 18px;
  }
  .wallet-note {
    margin-bottom: 15px;
  }
  .error-msg span {
    font-size: 12px;
  }
  .deposit-card {
    padding: 0px 10px;
  }
  .check-block {
    padding: 0px 10px 10px;
  }
  .deposit-card .d-flex button,
  .check-block button {
    margin: 15px auto 0px;
    height: 40px;
    border-radius: 6px;
    min-width: auto;
    font-size: 14px;
    display: block;
    padding: 5px 20px;
  }
  .foot-btn-note .gold-btn {
    margin: 5px 0px;
    max-width: 100%;
    min-width: 100%;
  }
  .select-box {
    width: 100%;
  }
  .deposit-card .d-flex {
    display: block !important;
  }
  .check-block .cus-check {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
  }
  .inline-form.form-group {
    max-width: 100%;
  }
  .form-group input {
    max-width: 100%;
  }

  .card-front,
  .card-back {
    padding: 15px;
  }
  .card-form h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .form-group label {
    margin-bottom: 10px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .input-error {
    font-size: 12px;
  }
  .yellow-btn {
    border-radius: 6px;
  }
  .alert-box {
    width: 90%;
    min-height: 150px;
  }
  .yellow-btn {
    font-size: 14px;
    height: 40px;
    max-width: 119px;
  }
  .flip-card-wrap {
    height: 370px;
  }
  .card-front {
    justify-content: center;
  }
  .inline-note {
    flex-wrap: wrap;
  }
  .wallet-note {
    width: 100%;
  }
  .inline-note .select-box {
    min-width: auto;
    width: 100%;
  }
  .inline-note button {
    min-width: 100%;
    margin: 5px 0px;
    width: 100%;
  }
  .select-box .dropdown-toggle {
    text-align: left;
  }
  .select-box .dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 991px) {
  .gold-btn{
    font-size: 14px;
    height: 40px;
    max-width: 119px;
  }
}

@media (max-width: 767px) {
  .shortcut-wrap{
    max-width: 100%;
    height: auto;
   }
  .mobile-icons .icons-wrap{
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  .mobile-icons ul{
    justify-content: center;
  }
  .p-dropdown{
    width: 100%;
    min-width: 100%;
    border-radius: 6px !important;
    height: 40px;
    line-height: 20px;
    /* margin-bottom: 10px; */
    
  }
  .p-drop{
    margin-right: 10px;
  }
  .p-drop .p-inputwrapper-filled{
    margin-left: 0px !important;
   
  }
  .deposit-card{
    padding: 0px 10px 11px;
  }
}
@media (max-width: 575px) {
  .foot-btn-note{
    display: block;
  }
  .p-dropdown{
    width: 100%;
    min-width: 100%;
    border-radius: 6px !important;
    height: 40px;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: SFProText-Semibold;
  }
  .p-drop .p-inputwrapper-filled{
    margin-left: 0px !important;
    margin-right: 0px;
  }
  .p-drop{
    margin-right: 0px;
  }
}

.colorred {
  color: red !important;
}

.yellow{
  color:#4CAF50!important;
}

.p-sidebar .p-sidebar-close {
  width: 2rem;
  height: 2rem;
  color: #6c757d;
  border: 0 none;
  background: #4CAF50 !important;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-listbox {
  background: #ffffff;
  color: #495057;
  border: none !important; 
  border-radius: none !important;
}